<div class="footer-container">
    <div class="center">
   <a  href="#header"> <img class="footer-image" src="assets/img/footer-image.png"></a>
    <div class="center-text">
        <span>&#169; Michael Wölfel 2023 </span>
    </div>
    <div class="buttons-right">
        <a href="https://github.com/michaelwoelfel/" target="_blank"><img class="logo-small" src="assets/img/github-white.svg"></a>
       <a href="#contact"> <img  src="assets/img/mail-white.svg"></a>
       <a href="https://www.linkedin.com/in/michael-w%C3%B6lfel-105bb7177/" target="_blank"> <img  src="assets/img/linkedin-white.svg"></a>
    </div>
</div>
<span><a class="link-impressum" routerLink="impress" target="_blank">Impressum</a></span>


</div>
