<div class="footer-container">
    <div class="center">
   <a  alt="Michael Wölfel Frontend Developer" href="#header"> <img  loading="lazy" alt="Michael Wölfel Frontend Developer" class="footer-image" alt="Michael Wölfel Frontend Developer" src="assets/img/footer-image.png"></a>
    <div class="center-text">
        <span>&#169; Michael Wölfel 2023 </span>
    </div>
    <div class="buttons-right">
        <a alt="Michael Wölfel Frontend Developer" href="https://github.com/michaelwoelfel/" target="_blank"><img  loading="lazy" alt="Michael Wölfel Frontend Developer" class="logo-small" src="assets/img/github-white.svg"></a>
       <a alt="Michael Wölfel Frontend Developer"  href="https://www.linkedin.com/in/michael-w%C3%B6lfel-105bb7177/" target="_blank" > <img   loading="lazy"  alt="Michael Wölfel Frontend Developer" src="assets/img/mail-white.svg"></a>
       <a alt="Michael Wölfel Frontend Developer" href="#contact" > <img  loading="lazy"  alt="Michael Wölfel Frontend Developer" src="assets/img/linkedin-white.svg"></a>
    </div>
</div>
<span class="impress-privacy"><a alt="Michael Wölfel Frontend Developer" class="link-impressum" routerLink="impress" target="_blank">Impress |</a><a alt="Michael Wölfel Frontend Developer" class="link-privacy" routerLink="privacy" target="_blank"> Privacy</a></span>


</div>
