<div class="mywork-container">
    <img class="bubble" src="assets/img/circlesmall.png">
    <img class="bubble2" src="assets/img/bubble-mywork.png">
    <div class="heading"><span class="mywork">My work</span><span class="sample">This page is a sample of my work -
            please feel free to try them out.</span></div>
            <div class="project-container">
                <div class="img-container"></div>
                <div class="description-container">
                    <span class="project-name"></span>
                    <span class="project-skills"></span>
                    <span class="project-description"></span>
                    <a class="github-button" href="#">Github</a>
                    
                </div>
            </div>
</div>