<div class="mywork-container">

    <img   loading="lazy" alt="Michael Wölfel Frontend Developer" data-aos="zoom-in-up" data-aos-duration="2000" class="bubble2" src="assets/img/circle.svg">
    <img  loading="lazy" alt="Michael Wölfel Frontend Developer" data-aos="zoom-in-up" data-aos-duration="2000" class="bubble-mini" src="assets/img/circle.svg">
    <img  loading="lazy" alt="Michael Wölfel Frontend Developer" data-aos="zoom-in-up" data-aos-duration="2000" class="bubble-work" src="assets/img/circle.svg">
    <div class="heading"><span class="mywork">My work</span><span class="sample">This page is a sample of my work -
            please feel free to try them out.</span></div>
    <div class="project-container" *ngFor="let project of responsiveService.projects; index as i"
        [ngClass]="{'row-reverse': i % 2 !== 0}">
        <div data-aos="flip-right" data-aos-duration="2000" class="img-container"> <a  target="_blank" style="width: 100%"
                href="{{project.link}}"> <img  loading="lazy" alt="Michael Wölfel Frontend Developer" class="project-img" src="assets/img/{{project.img}}"></a></div>
        <div class="description-container" [ngClass]="{'align-right': i % 2 !== 0}">
            <span class="project-name">{{project.title}}</span>
            <span class="project-skills">{{project.skills}}</span>
            <span class="project-description">{{project.description}}</span>
            <img  loading="lazy"  alt="Michael Wölfel Frontend Developer" *ngIf="i==1" class="bubble-pollo" src="assets/img/circle.svg">
            <img  loading="lazy" alt="Michael Wölfel Frontend Developer"  *ngIf="i==0" class="bubble-join" src="assets/img/circle.svg">
            <div class="button-container">
                <a  alt="Michael Wölfel Frontend Developer" target="_blank"class="github-button" href="{{project.github}}">Github</a>
                <a alt="Michael Wölfel Frontend Developer" target="_blank" class="live-test" href="{{project.link}}">Live test</a>
            </div>
        </div>
    </div>
</div>