@import 'aos/dist/aos.css';

.mywork-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
}

.project-img {
   width: 100%;
   height: 100%;
    transition: transform margin-bottom 0.3s ease-in-out;
    z-index: 5;
    transition: transform 0.3s ease-in-out, margin-bottom 0.3s ease-in-out; 
    margin-bottom: 0; 
    transform: scale(1); 

    &:hover {
        transform: scale(1.03);
        margin-bottom: 20px;
        cursor: pointer;
    }
}


.project-container {
    display: flex;
    height: 500px;
    margin-left: 10vh;
    margin-right: 10vh;
    position: relative;
    margin-top: 100px;
    
}

.description-container {
    display: flex;
    align-items: flex-start;
    width: 50%;
    height: 100%;
  

}

.img-container {
    width: 50%;
    box-shadow: 5px 5px 15px 0px #00000026;
    display: flex;
    align-self: flex-end;
    z-index: 1;
    transition: transform 0.3s ease-in-out, margin-bottom 0.3s ease-in-out; 
    margin-bottom: 0; 

    &:hover {
        transform: scale(1.03);
    }
}

.heading {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    padding-left: 10vh;
    padding-top: 5vw;
    gap: 80px;
    position: relative;
}




.mywork {
    font-family: 'Baloo';
    font-size: 7em;
    color: #5988FF;
}

.sample {
    font-family: 'Montserrat';
    font-size: 23px;
    max-width: 673px;
}


.bubble2 {
    position: absolute;
    right: 40%;
    top: 20px;
    width: 8vw;
}

.bubble-pollo {
    position: absolute;
    width: 30%;
    right: -10vh;
    top: 4vw;
    z-index: 0;
}



.bubble-work {
    position: absolute;
    width: 10vw;
    height: 10vw;
    right: 15vw;
    top: 15vw;
}

.bubble-join {
    position: absolute;
    left: -10vh;
    top: 40%;
}

.bubble-mini {
    width: 5vw;
    position: absolute;
    bottom: -2vw;
    left: 10vh;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    padding-left: 10vh;
}

.project-name {
    font-family: 'Baloo';
    font-size: 45px;
    line-height: 54px;
    color: #5988FF;
}

.project-skills {
    font-size: 23px;
    color: #5988FF;
    font-family: 'Montserrat';
    line-height: 1vw;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
.live-test {
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    height: 50%;
    white-space: nowrap;
    background-color:#5988FF;
    border: 2px solid #5988FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    box-shadow: 5px 5px 15px 0px #00000026;
    text-decoration: none;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;


    &:hover {
        box-shadow: inset 250px 0 0 0 #5988FF;
        background-color: #5988FF;
        transform: scale(1.1);
        color: #fff;
    }
}

.project-description {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bolder;
}

.github-button {
    margin-top: 10px;
    padding: 10px 20px;
    color: #5988FF;
    object-fit: contain;
    border: 2px solid #5988FF;
    border-radius: 10px;
   height: 50%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    box-shadow: 5px 5px 15px 0px #00000026;
    text-decoration: none;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;

    &:hover {
        box-shadow: inset 250px 0 0 0 #5988FF;
        background-color: #5988FF;
        transform: scale(1.05);
        color: #fff;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-right {
    align-items: flex-end;
    text-align: right;
    margin-right: 10vh;
}


@media only screen and (max-width: 1000px) {
    .left-span {
       line-height: 70px;
    }
    .contact-container {
        text-align: left;
    }

    .bubble2 {
        right: 15%;
        width: 5vw;
    }

    .bubble-pollo {
        right: -9.85vw;
    }

    .bubble-work {
        top: 200px;
        width: 10vw;
    }

    .bubble-join {
        width: 20vw;
        top: 20%;
        left: -10vw;
    }

    .heading {
        gap: 40px;
        padding-bottom: 15vw;
        padding-left: 0;
        margin: 0;
        text-align: left;
        width: 80%;
    }

    .mywork-container {
        align-items: center;
        padding-top: 5vw;
      
    }

.project-container {
    height: auto;
    flex-direction: column;
    align-items: center!important;
    justify-content: center!important;
    width: 80%;

}

.img-container {
    width: 80%;
    height: 40vw;
    display: flex;
 justify-content: center;
 background-color: transparent;
align-self: center;
margin-top: 20px;
margin-bottom: 20px;
}

.text {
    padding-right: 0;
}





.project-description{
    width: 80%;
}

.description-container {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0;
}

.align-right {
    margin: 0;
}
}

@media only screen and (max-width: 800px) {
    .heading {
        gap: 40px;
        width:90%;
        text-align: center;
        align-items: center;

    }

    .mywork {
        font-size: 7em;
        padding: 0;
    }
 }


 @media only screen and (max-width: 800px) { 
    .sample {
        font-size: 16px;
    }

    .description-container {
        padding-left: 0;
        padding-right: 0;
       
    }

   .align-right {
    margin-right: 0;
        
    }

    .img-container {
        width: 100%;
    }
 }

 @media only screen and (max-width: 700px) { 
    .bubble-pollo {
        right: -9.8vw;
    }
 }





 @media only screen and (max-width: 550px) { 
        .mywork {
            font-size: 20vw;
        }
        .bubble2 {
            top: 10px;
        }
        .sample {
            width: 80vw;
        }

        .heading {
            padding: 0;
            padding-top: 20px;
        }

        .bubble-pollo {
            right: -9.7vw;
        }

        
 }

 @media only screen and (max-width: 850px) { 
            .bubble-work { 
                top: 180px;
                width: 10vw;
                height: auto;
            }

            .bubble2 {
                right: 5%;
            }
                            
 }

 @media only screen and (max-width: 500px) { 
            .bubble-work {
                top:  150px;
            }
            .bubble-mini{
                left: 3vw;
            }
            
            .project-skills {
                font-size: 16px;
                flex-wrap: wrap;
                white-space: wrap;
            }
 }


 @media only screen and (max-width: 350px) { 
    .bubble-pollo {
        right: -9.6vw;
    }
 }