.contact-heading {
    max-width: 100%;
     display: flex;
     justify-content: flex-start;
     padding-left: 9.5vh;
     padding-top: 10vh;
     font-family: 'Baloo';
     font-size: 7em;
     height: auto;
     color: #5988FF;
     background-color: #FBFCFF;
     margin-top: 5vw;
     line-height: 70px;
 }

 .contact-button {
    position: relative;
    top: 20px;
    padding: 10px 20px;
    color: #5988FF;
    border: 2px solid #5988FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 23px;
    text-decoration: none;
    transition: background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
    width: 50%;


    &:hover {
        box-shadow: inset 250px 0 0 0 #5988FF;
        background-color: #5988FF;
        transform: scale(1.1);
        color: #fff;
    }
}


 .message-sent {
    font-size: 20px;
    font-family: 'Baloo';
    color:  #5988FF;
    text-align: center;
    padding-left: 10px;
 }

 .message-sent-placeholder {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;

}
 
 .go-up-button {
     position: absolute;
   bottom: 5vw;
     left: 10vh;
     width: 30px;
     transition: bottom 0.2s;
 &:hover {
         bottom: 7vw;
 }
    }
 
 .contact-container {
     width: 100%;
     height: 500px;
     display: flex;
     gap: 5vw;
     background-color: #FBFCFF;
     padding-bottom: 10vh;
     position: relative;
 }
 
 .left-side {
     display: flex;
     flex-direction: column;
     margin-left: 10vh;
     width: 50%;
     gap: 20px;
 }
 
 .right-side {
     width: 50%;
     margin-right: 10vh;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 
 form {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 32px;
     align-items: center;
     background-color: #FBFCFF;
 }
 
 
 .text {
     font-family: 'Montserrat';
     font-size: 16px;
 }
 
 .text-heading {
     font-family: 'Baloo';
     color: #5988FF;
     font-size: 3.5em;
     line-height: 50px
 }
 
 .text-footer {
     font-family: 'Montserrat';
     font-size: 16px;
     color: #5988FF;
 }
 
 .footer-contact-span {
     font-family: 'Baloo';
     color: #5988FF;
     font-size: 16px;
 }
 
 button{
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 30px;
     padding-right: 30px;
     border-radius: 10px;
     color: #BBBBBB;
     border: 2px solid #BBBBBB;
     &:hover:not([disabled]) {
         box-shadow: inset 250px 0 0 0 #5988FF;
 
         background-color: #5988FF;
         transform: scale(1.1);
         color: #fff!important;
         border: none;
     }
 
 
     }
 
     button:not([disabled]){
         color: #5988FF!important;
         border: 2px solid #5988FF!important;
 
     }
  
     button[disabled] {
         color: #BBBBBB!important;
     }
 
     ::ng-deep input {
         color: #5988FF;
     }
 
 
     ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
         border-color: #5988FF!important;
         
     }
 
 ::ng-deep .mat-mdc-form-field  {
     width: 80%;
     background-color:#FBFCFF!important;

    text-align: center;
 }
 
 button {
     background-color: transparent;
     cursor: pointer;
     
     transition: background-color 0.3s, color 0.3s;
     font-size: 20px;
 }
 
 
 form {
     max-height: 100%;
     width: 100%;
 }
 
 
 ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
     color:#5988FF!important;
 }
 
 
 ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
     color: black !important;
     border: 2px solid transparent;
     outline: 1px solid #5988FF!important;
     border-radius: 10px;
     background-clip: content-box;
     background-color: #FBFCFF!important;
     width: 100%!important;
     height: 100%!important;
     margin-left: 5px!important;
    padding-left: 10px!important;
 
     &:hover {
         outline-width: 3px!important;
         cursor: pointer;
     }
 }
 
 
 :ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
     background-color: #FBFCFF!important;
 }
 
 
 ::ng-deep .mat-mdc-form-field-subscript-wrapper {
     margin-top: 5px;
     width: 100%;
     border-radius: 10px;
     position: relative;
     background-color: #FBFCFF;
     
 
 }
 
 ::ng-deep .mat-mdc-form-field-focus-overlay {
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     position: absolute;
     background-color: white!important;
     opacity: 0;
     pointer-events: none;
 }
 
 
 ::ng-deep .mat-mdc-checkbox .mdc-form-field {
 color: black!important;
 }
 ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
 .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
     color: black!important;
 }
 
 
 ::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
     color: red!important;
 }
 
 ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
     color: black!important;
     font-size: 16px!important;
 }
 
 ::ng-deep .mat-mdc-raised-button.mat-unthemed {
     color: #fff!important;
     --mdc-protected-button-container-color: #fff;
 }
 
 
 
 .mdc-button .mdc-button__label {
     position: relative;
     color: red;
 }
 
 .mat-mdc-raised-button.mat-unthemed 
 
 .privacy {
     color:#5988FF;
 }
 
 ::ng-deep input::placeholder {
     color: #BEBEBF!important;
    }
 
    ::ng-deep textarea::placeholder {
     color: #BEBEBF!important;
    }
 
   
 
    .bubble-container {
     display: flex;
     padding-top: 1vh;
     width: 100%;
     justify-content: center;
    }
    .bubble_1 {
     width: 200px;
     padding-top: 20px;
    }
    @media only screen and (max-width: 1300px) { 
        .message-sent {
            width: 80%;
        }

        ::ng-deep .mat-mdc-checkbox {
           width: 80%;
           text-align: center;
           display: flex;
           justify-content: center;
        }
    }
 
    @media only screen and (max-width: 1000px) {
     .contact-container  {
      flex-direction: column;
      height: auto;
      align-items: center;
      text-align: center;
     }

     .mat-mdc-checkbox {
        display: inline-block;
        position: relative;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 90%;
     }
 
     .left-side {
         width: 80%;
         margin:0;
         text-align: left;
         display: flex;
     }
    .contact {
        padding-left: 6vw;
        padding-top: 20px;
    }

    .text {
        padding-right: 10vh;
        text-align: left;
    }
   
     
 
     .right-side {
         width: 90vw;
         margin: 0;
         
     }
 
     .form-right-side {
         width:90vw;
         padding-right: 10px;
        
     }
 
     .text-heading {
         text-align: left;
       
     }
     
 
     .contact-heading {
      padding-top: 20px;
      display: flex;
      padding-left: 10px;
        justify-content: center;
        text-align: left;
     }

     .message-sent  {
        width: 80vw;
      
        text-align: center;
    }

     .contact {
        padding: 0;
        width: 80vw;
     }
     .go-up-button {
         left: 8vw;
     }
    }

    @media only screen and (max-width: 890px) {  
        .span {
            padding-right: 0;
        }

        .contact-container {
            text-align: left;
        }

        .text-footer {
            text-align: center;
        }
        .footer-contact-span {
          text-align: center;
        }

        .text-heading {
            padding-left: 0;
        }

        .text {
            text-align: center;
            padding-right: 0;
        }

        .contact-button {
            align-self: center;
        }

        .contact-wrapper {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    }
 
 
    @media only screen and (max-width: 450px) { 
     .contact-heading {
         font-size: 20vw;
       
     }
 
     .message-sent-placeholder {
       padding-top: 30px;
       padding-bottom: 30px;
     }
     .text-heading {
         font-size: 20px;
       text-align: center;
     }

     .contact {
        width: 80vw;
     }
 
     ::ng-deep .mat-mdc-form-field { 
         width: 80vw!important;
         text-align: left;
     }
    }