<div class="contact-heading"><span  *ngIf="responsiveService.language == 'english'"  class="contact">Contact</span> <span  *ngIf="responsiveService.language == 'german'"  class="contact">Kontakt</span>  </div>
<div class="contact-container">
    <div class="left-side">
        <span  *ngIf="responsiveService.language == 'english'"  class="text-heading">Do you have a project?</span>
        <span  *ngIf="responsiveService.language == 'german'"  class="text-heading">Haben Sie ein Projekt?</span>
        <span   *ngIf="responsiveService.language == 'english'" class="text">Contact me through this form, ready to help you solve your problems.</span>
        <span   *ngIf="responsiveService.language == 'german'" class="text">Kontaktieren Sie mich über dieses Formular, ich stehe bereit, um Ihnen bei der Lösung Ihrer Probleme zu helfen.</span>
        <div class="contact-wrapper">
            
            <span *ngIf="responsiveService.language == 'english'"  class="text-footer">Need a Developer?</span><span *ngIf="responsiveService.language == 'english'"  class="footer-contact-span"> Contact me !</span>
            <span *ngIf="responsiveService.language == 'german'"  class="text-footer">Brauchen Sie einen Entwickler?</span><span *ngIf="responsiveService.language == 'german'" class="footer-contact-span"> Schreiben Sie mir!</span>
            <a *ngIf="responsiveService.language == 'english'"  class="contact-button" href="https://calendly.com/michael-woelfel/30min" target="_blank">Book free consultation</a>
            <a *ngIf="responsiveService.language == 'german'" class="contact-button" href="https://calendly.com/michael-woelfel/30min" target="_blank">Kostenloses Gespräch buchen</a>

        </div>
        <div class="bubble-container"> <img  alt="Michael Wölfel Frontend Developer" data-aos="zoom-in-up" data-aos-duration="2000" class="bubble_1"
            loading="lazy" src="assets/img/circle.svg"></div>
    </div>
    <div class="right-side">
        <form class="form-right-side" [formGroup]="emailForm" (ngSubmit)="onSubmitForm()">
            <mat-form-field class="form-field">
                <mat-label class="form-field">Your name</mat-label>
                <input class="form-field" class="placeholder" matInput placeholder="Your Name" [formControl]="name"
                   minlength="3" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Your email</mat-label>
                <input matInput placeholder="Your e-mail" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Your message</mat-label>
                <mat-error *ngIf="message.invalid">{{getErrorMessageText()}}</mat-error>
                <textarea matInput
                
                    placeholder="Hi Michael, i want to work with you in a new project, when do you have time for a meeting ?"
                    [formControl]="message" minlength="20" required> </textarea>
                   
            </mat-form-field>
            
            <div  class="message-sent-placeholder"
                *ngIf="responsiveService.messageSentSuccess.value == false">
                </div>
            <div  *ngIf="responsiveService.language == 'english' && responsiveService.messageSentSuccess.value == true" data-aos="fade-left" data-aos-duration="800" class="message-sent"
                >Thank you for reaching out! I will respond as
                soon as possible.</div>

                <div  *ngIf="responsiveService.language == 'german' && responsiveService.messageSentSuccess.value == true" data-aos="fade-left" data-aos-duration="800" class="message-sent"
                >Vielen Dank, dass Sie sich gemeldet haben! Ich werde so schnell wie möglich antworten.</div>
            <mat-checkbox [formControl]="disableSelect" class="privacy-policy">I've read the <a routerLink="privacy" target="_blank">privacy
                    policy</a> and agree to the processing of my data as outlined.</mat-checkbox>
            <button matNativeControl [disabled]="!disableSelect.value || !emailForm.valid " class="button"
                mat-raised-button type="submit">Send</button>
        </form>

    </div>
    <a data-aos="zoom-in-up" data-aos-duration="300" class="go-up-button" href="#header"><img loading="lazy" alt="Michael Wölfel Frontend Developer"
            src="assets/img/go-up-button.svg"></a>
</div>