<div class="main-container">
    <img class="header-icon"  src="assets/img/responsive-menu-icon.png">
    <div class="text-container">
        <a (click)="this.responsiveService.checkVisited()" href="#lets-work">About me</a>
        <a (click)="this.responsiveService.checkVisited()" href="#skill-set">Skill set</a>
        <a (click)="this.responsiveService.checkVisited()" href="#my-work">My work</a>
        <a (click)="this.responsiveService.checkVisited()" href="#contact">Contact</a>
    </div>
</div>
