<div class="main-container">
    <img  alt="Michael Wölfel Frontend Developer" class="header-icon"  src="assets/img/responsive-menu-icon.png">
    <div class="text-container">
        <a alt="Michael Wölfel Frontend Developer" (click)="this.responsiveService.checkVisited()" href="#lets-work">About me</a>
        <a alt="Michael Wölfel Frontend Developer" (click)="this.responsiveService.checkVisited()" href="#skill-set">Skill set</a>
        <a  alt="Michael Wölfel Frontend Developer" (click)="this.responsiveService.checkVisited()" href="#my-work">My work</a>
        <a alt="Michael Wölfel Frontend Developer" (click)="this.responsiveService.checkVisited()" href="#contact">Contact</a>
    </div>
</div>
