<div class="skill-set">
    <span class="skill-set-heading">Skill set</span>
    <span  *ngIf="responsiveService.language == 'english'"  class="claim">Crafting web experiences with a diverse skill set.<br>
        From Angular to WordPress, I use the latest technologies to bring your vision to life.</span>
        <span *ngIf="responsiveService.language == 'german'"  class="claim">Web-Erlebnisse mit vielfältigen Fähigkeiten gestalten.
            Von Angular bis WordPress nutze ich die neuesten Technologien, um Ihre Visionen zu verwirklichen.</span>
    <div class="skillcontainer">
        <div  (click)="responsiveService.sortBy(skill['skill-name'],i)"
            data-aos="zoom-in-up" data-aos-duration="2000" class="skill " 
            *ngFor="let skill of skills; index as i">
            <img alt="Michael Wölfel Frontend Developer"  id="skill{{i}}" class="skill-img " src="assets/img/{{skill['skill-pic']}}">
            <span>{{skill['skill-name']}}</span>
        </div>
    </div>
</div>