
.skill-set {
    height: auto;
    background: linear-gradient(to bottom right, #5988FF,  #1755F4);
    width: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.skill-set-heading {
    font-family: 'Baloo';
    font-size: 96px;
    line-height: 96px;
    color: white;
    padding-top: 100px;
    padding-bottom: 20px;
}

.skillcontainer {
    width: 957px;
    height: 340px;
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.skill-img {
    width: 80px;
    transition: transform 0.5s ease-in-out;
    &:hover {
        transform: translateY(-15px); 
    }

}

.claim {
    font-weight: bold;
    color: white;
    align-self: center;
    font-size: 22px; /* Increased font size */
    line-height: 1.3; /* Adjusted line height for better readability */
    width: 50%;
    margin: 0 auto 40px; /* Centered the block and added spacing to the bottom */
    padding: 10px 0; /* Added padding to the top and bottom */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
    text-align: center;
}



.skill {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: font-weight 0.5s ease-in-out;
    &:hover {
       cursor: pointer;
       font-weight: bold;
    }

}

.skill-selected {
    transform: scale(1.3);
    transition: transform 0.2s;
    box-shadow: inset 2px 20px 20px 9px white;
    border-radius: 10px;
}

@media only screen and (max-width: 1300px) {
   
    .claim {
      
        width: 70%;
       
    }
}

@media only screen and (max-width: 1000px) {
    .skillcontainer {
        width: 80%;
        height: auto;
        flex-wrap: wrap;
    }

    .claim {
      
        width: 70%;
       
    }
}

@media only screen and (max-width: 620px) {
  .skillcontainer {
    gap: 80px;
    width: 80%;
  }
  .skill {
    width: 50px;
    height: 100px;

  }
}

@media only screen and (max-width: 480px) {
    .skillcontainer {
        gap: 60px;
      }
}



    @media only screen and (max-width: 450px) {
        .skill-set-heading {
            font-size: 20vw;
            padding-left: 10vw;
            padding-right: 10vw;
    }
}

   

  

    @media only screen and (max-width: 460px) {
       
    }