<section class="testimonials">
  <!-- <span class="testimonial-heading">Testimonials</span> -->

  <div class="testimonial-wrapper">
    <div class="testimonial-container">
      <span class="testimonial-span"
        >"Lief alles wie besprochen. Es sollten kleine Änderungen vorgenommen
        werden am Website Menü. Diese wurden sehr gut ausgeführt. Die Lieferung
        erfolgte schnell und auch die Kommunikation war sehr gut. Es werden
        immer Videos mit Erklärungen der Lieferung geschickt."</span
      >
      <!-- <div class="star-container">
        <svg *ngFor="let star of stars"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          width="40"
          height="40"
          viewBox="0 0 24 24">
          <polygon
            points="12,2 14.5,8.5 21,9.3 16.5,14 17.8,21 12,17.5 6.2,21 7.5,14 3,9.3 9.5,8.5"
            style="fill: white; stroke: black; stroke-width: 1">
          </polygon>
        </svg>
      </div> -->

      
    </div>

    <div class="testimonial-container">
      <span class="testimonial-span"
        >"Sehr schnelle Arbeit mit viel Liebe bis in kleine Details... ohne dabei
        verspielt zu sein. Absolut Professionell. Der nächste Auftrag wird
        kommen."</span>
        <!-- <div class="star-container">
            <svg *ngFor="let star of stars"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              width="40"
              height="40"
              viewBox="0 0 24 24">
              <polygon
                points="12,2 14.5,8.5 21,9.3 16.5,14 17.8,21 12,17.5 6.2,21 7.5,14 3,9.3 9.5,8.5"
                style="fill: white; stroke: black; stroke-width: 1">
              </polygon>
            </svg>
          </div> -->
    </div>
  </div>
</section>
