<div class="header">
    <div class="header-menu">

        <img class="header-picture" src="assets/img/Group.png">
        <div class="header-text"><a href="#" class="header-link">About me</a><a href="#" class="header-link"> Skill
                set</a><a href="#" class="header-link">My work</a></div>
    </div>
    <div class="introduction">
        <img class="michael" src="assets/img/michael.JPG">
    
    <div class="introduction-right-side">
        <div class="introduction-text"><span class="hello">Hello ! I am Michael</span>
            <span class="font">FULLSTACK</span>
            <span class="font">DEVELOPER</span>
        </div>
        <div class="scroll-and-icons">
            <span class="scroll">SCROLL</span>
            <div class="bar-and-icons">
            <div class="blue-bar"></div>
            <div class="icons"></div>
        </div>
        </div>
    </div>
</div>
</div>