.header {
  position: relative;
    background-image: url("/assets/img/hero-bg.png");
    height: 1010px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #5988FF;
  }

  .nav-menu {
    background-color: red;
  }

  .mat-sidenav-content {
    background-color: red;
  }

 

  .header-menu {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
  
  }

  .introduction {
    max-height: 90%;
    display: flex;
    justify-content: space-between;
  }

  .introduction-text{
    padding-right: 5vw;
  }


  .introduction-right-side {
    max-width: 50%;
  }
  .introduction-text {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .hello {
    font-family: "Montserrat";
    font-size: 64px;
    line-height: 64px;
  }

  .font {
    font-family: 'Baloo';
    font-size: 8vw;
    line-height: 100px;
    display: inline;
  }

  

  .header-text {
    display: inline-block;
    gap: 30px;
    cursor: pointer;
    display: inline;
    padding-right: 5vw;
  }

  .header-link {
   font-size: 23px;
   text-decoration: none;
   box-shadow: inset 0 0 0 0 #5988FF;
  color: #5988FF;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
   &:hover {
      box-shadow: inset 150px 0 0 0 #5988FF;
      color: white;
   }
  }

  .img-container {
    display: flex;
    max-height: 50%;
    width: 50%;
    align-items: flex-end;
  }

  .michael {
    width: 100%;
    height: 100%;
    padding-left: 5vw;
  }

  

  .header-picture {
    width: auto;
    height: 60px;
    padding-left: 5vw;
  }

  .scroll-and-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 64%;

  }

  .scroll {
    position: absolute;
    font-family: "Montserrat";
    font-size: 23px;
    bottom: 340px;
  }

  .bar-and-icons {
    display:flex;
  }

  .blue-bar {
    position: absolute;
    height: 330px;
    background-color: #5988FF;
    width: 2px;
    margin-top: 10px;
    bottom: 0;
  }

  .icons {
    display: flex;
    position: absolute;
    gap: 25px;
    flex-direction: column;
    right: 5vw;
    top: 789px;
  }

  .icon {
    border-radius: 17px;
    &:hover,:focus {
      cursor: pointer;
      animation: pulse 0.2s;
  box-shadow: 0 0 0 1em #5988FF;
  border-radius: 50% solid transparent;
    }
  }


  .nav-button {
    top: 50px;
   right: 5vw;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10!important;

    align-items: center;
    width: 50px;
    height: 50px;
    &:hover {
      cursor: pointer;
      border-radius: 50%;
      background: rgba(51, 170, 51, .1)    /*  10% opaque green */ 
    }
  }
  
  .nav-button:before,
  .nav-button:after,
  .nav-button div {
    background:  #5988FF;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 15px 0;
    transition: 0.2s;
  }
  .nav-button:hover:before {
    transform: translateY(18px) rotate(135deg);
  }
  .nav-button:hover:after {
    transform: translateY(-18px) rotate(-135deg);
  }
  .nav-button:hover div {
    transform: scale(0);
  }
  

  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
  }

  #contact {
    scroll-behavior: smooth;
  }



  
  