.header {
    background-image: url("/assets/img/hero-bg.png");
    height: 500px;
    max-width: 100%;
    font-family: "Montserrat";
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    height: 117px;
    margin-left: 100px;
    
  }

  .header-text {
    margin-right: 100px;
  }
  .michael {
    height: 400px;
  }

  
  