
<div class="header">
    <div class="header-menu">
        <img class="header-picture" src="assets/img/Group.png">
        <div class="center"  *ngIf="responsiveService.hideMobile">
          <div></div>
        </div>
        <div class="header-text"><a href="#" class="header-link">About me</a><a href="#" class="header-link"> Skill
                set</a><a href="#" class="header-link">My work</a></div>
    </div>
    <div class="introduction">
        <div class="img-container">
            <img class="michael" src="assets/img/michael.JPG">
        </div>

        <div class="introduction-right-side">
            <div class="introduction-text"><span class="hello">Hello ! I am Michael</span>
                <span class="font">FULLSTACK</span>
                <span class="font">DEVELOPER</span>
            </div>
            <div class="scroll-and-bar">
                <span class="scroll">SCROLL</span>
                <div class="blue-bar"></div>
                <div class="icons">
                    <a href="#"><img class="icon" src="assets/img/github.png"></a>
                    <a href="#"><img class="icon" src="assets/img/mail.png"></a>
                    <a href="#"><img class="icon" src="assets/img/linkedin.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>