/* You can add global styles to this file, and also import other style files */
@import 'aos/dist/aos.css';

  html {
    scroll-behavior: smooth;

  }

body {
    margin: 0;
    max-width: 100%;
  }

  .block-scroll {
    overflow: hidden;
    width: 100%;
   
    
   
  }


  @font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
  }
  

  @font-face {
    font-family: 'Baloo';
    src: url('assets/fonts/baloo/Baloo-Regular.ttf');
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px;
  background-color: #fff!important;
  padding: 0.75em 0.75em 0 0.75em;
  border: 1px solid #f94747;
}




