<div class="lets-work">
    <div class="left-side"><span class="left-span">Let's work together</span></div>
    <div class="right-side">
        <img data-aos="fade-up" data-aos-duration="4000" class="blue-bubble" src="assets/img/circlesmall.png">
        <span class="right-span">As a developer based in Germany, I pride myself on being a dependable professional who
            excels at problem-solving and eagerly embraces new technologies. Should you require someone with these
            qualities for your projects, I believe I would be an excellent fit. Please feel free to reach out to me if
            you consider that I meet your project needs
        </span>
        <!-- <span class="span-right-bottom">If you think I'd be a good match for your Projects contact me !</span> -->
        <a class="contact-button" href="#contact">Send a message</a>
    </div>
</div>