<div class="lets-work">
    <div class="left-side"><span class="left-span">Let's work together</span></div>
    <div class="right-side">
        <img  alt="Michael Wölfel Frontend Developer" data-aos="fade-up" data-aos-duration="4000" class="blue-bubble" src="assets/img/circle.svg">
        <span class="right-span"> 
            Discover my work and find the reliable assistance you need for your projects or a fresh, new website.  </span>
        <span class="span-right-bottom">Claim your free 30 minute consultation now </span>
        <a class="contact-button" href="https://calendly.com/michael-woelfel/30min" target="_blank">Book free consultation</a>
    </div>
</div>