<div class="lets-work">
    <div class="left-side"><span class="left-span">Let's work together</span></div>
    <div class="right-side">
        <img class="blue-bubble" src="assets/img/circlesmall.png">
        <span class="right-span">I am a Fullstack Developer from Germany. I really like to solve
            problems and learn new
            things every day. I am looking for a oppurtunity to create nice projects and gain experience.</span>
        <span class="span-right-bottom">If you think I'd be a good match for your Projects contact me !</span>
        <a class="contact-button" href="#">Send a message</a>
    </div>
</div>