.lets-work {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
}

.left-side {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    justify-content: center;
    height: 242px;
    font-family: 'Baloo';
    font-size: 7em;
    width: 50%;
    color: #5988FF;
    line-height: 121px;
}

.right-side {

    padding-right: 5vw;
    height: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 23px;
    flex-direction: column;
    width: 50%;
}

.span-right-bottom {
    padding-top: 20px;
}

.blue-bubble {
    position: relative;
    bottom: 100px;
}

.contact-button {
    position: absolute;
    top: 1400px;
    padding: 10px 20px;
    color: #5988FF;
    border: 2px solid #5988FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    text-decoration: none;
    transition: background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;


    &:hover {
        box-shadow: inset 250px 0 0 0 #5988FF;
        background-color: #5988FF;
        transform: scale(1.1);
        color: #fff;
    }
}